@media (min-width: 800px) {
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0%;
    color: white;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(100px, auto);
  color:white;
}

h1 {
  color: white;
  text-align: center;
  font-family: 'Get Schwifty', sans-serif;
}
img {
  height: 200px;
  width: 300px;
}

button {
  align-items: center;
  font-family: 'Get Schwifty', sans-serif;

}

button.enter:hover {
  background-color: lime;
}

@font-face {
  font-family: 'Get Schwifty';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
}