@media (min-width: 800px) {
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0%;
    color: white;
  }
}

.container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: minmax(100px, auto);
  text-align: center;
  color:white;
}

h1,
h2 {
    font-family: 'Get Schwifty', sans-serif;
    text-align: center;
    color: white;
    font-size: 50px;
}

img {
  border: 1px solid;
  height: 200px;
  width: 300px;
}

#new-character {
  font-family: 'Get Schwifty', sans-serif;
  font-size: xx-large;
  text-align: center;
  padding-left: 75%;
}
#submit {
  font-family: 'Get Schwifty', sans-serif;
}

html { 
  background: url("https://wallpapercave.com/wp/wp7227935.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: 'Get Schwifty';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
}